meta/anime_json.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="json_object" type="json_objectType"/>
  <xs:complexType name="json_objectType">
    <xs:sequence>
    	<xs:element type="xs:string" name="_id" />
    	<xs:element type="xs:string" name="status" />
    	<xs:element type="xs:string" name="members_score" />
    	<xs:element type="xs:string" name="title" />
    	<xs:element type="xs:string" name="type" />
    	<xs:sequence><xs:element type="xs:string" name="genres" maxOccurs="unbounded" minOccurs="0" /></xs:sequence>
    </xs:sequence>
  </xs:complexType>
</xs:schema>